      <aside class="col-12 col-sm-4 col-md-3 col-lg-2 p-0 flex-shrink-1 bg-primary">
        <nav
            class="navbar navbar-expand-sm navbar-dark bg-primary align-items-start flex-sm-column flex-row sticky-top">
            <a class="navbar-brand p-0 m-0 align-self-center wow animate__fadeInDown " href="/">
                <img class="brand-logo" src="/img/home/logo.png" alt="">
            </a>
            <a href class="navbar-toggler my-auto" data-toggle="collapse" data-target=".sidebar">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="collapse navbar-collapse sidebar w-100 h-100 align-items-start text-center mt-4">
                <ul class="flex-column navbar-nav w-100 wow animate__fadeInLeft animate__fast">
                    <li class="nav-item  wow animate__fadeInLeft animate__fast">
                        <a class="nav-link pl-0" href="/">
                            <span class="">HOME</span></a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a class="nav-link pl-0" href="/AboutUs">
                            <span class="">NOSOTROS</span></a>
                    </li>
                    <li class="nav-item active wow animate__fadeInLeft animate__fast animate__delay-1s">
                        <a class="nav-link pl-0 dropdown-toggle" href="/Categories">
                            <span class="">PRODUCTOS</span>
                        </a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a class="nav-link pl-0" href="/Empresas">
                            <span class="">SOLUCIONES A EMPRESAS</span></a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a class="nav-link pl-0" href="/Suv">
                            <span class="">SANITIZACION UV</span></a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a class="nav-link pl-0" href="/Shop">
                            <span class="">SHOP</span></a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a class="nav-link pl-0" href="/Faq">
                            <span class="">PREGUNTAS FRECUENTES</span></a>
                    </li>
                    <li class="nav-item wow animate__fadeInLeft animate__fast animate__delay-3s">
                        <a class="nav-link pl-0" href="/Contact">
                            <span class="">CONTACTO</span></a>
                    </li>
                </ul>
            </div>
            <div class=" w-100" id="social-nav">
                <ul class="p-0 m-0">
                    <li class="my-3 wow animate__fadeInLeft animate__fast animate__delay-2s">
                        <a href="https://wa.me/5491158888766" target="_blank"
                            class="btn btn-block btn-success font-weight-bold">
                            <i class="fab fa-whatsapp fa-lg font-weight-bold"> </i>
                            11-5888-8766</a>
                    </li>
                    <li class="my-3 wow animate__fadeInLeft animate__fast animate__delay-3s">
                        <a href="mailto:info@solucionesmodulares.com.ar" target="_blank"
                            class="btn btn-block btn-success font-weight-bold">
                            <i class="far fa-envelope fa-lg font-weight-bold"> </i>
                            CONSULTANOS</a>
                    </li>
                    <li class="text-center wow animate__fadeInLeft animate__fast animate__delay-5s">
                        <a href="https://www.facebook.com/solucionesmodulares" target="_blank" class="mx-2">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="https://www.instagram.com/solucionesmodulares" target="_blank" class="mx-2">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" class="mx-2">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>