        <section class="parallax" id="plx-about">
        </section>
        <section class="container wow animate__fadeIn animate__slow">
          <div class="text-center my-5">
            <h1 class="px-4 display-1 wow animate__fadeInLeft animate__delay-2s d-inline-block text-right">Quienes </h1>
            <h1 class="px-4 display-1 wow animate__fadeInRight animate__delay-2s d-inline-block"> Somos</h1>
          </div>
          <p>Somos una empresa familiar con más
            de 30 años de experiencia
            desarrollando soluciones modulares
            para oficinas, comercios y hogares.
            Nuestra fábrica se encuentra situada
            en la localidad de Tortuguitas,
            partido de Malvinas Argentinas, en un
            predio de 300 Mt2 cubiertos.
        </p>
        <p>
            Trabajamos con máquinas y
            herramientas de última generación:
            pegadoras, de cantos de origen
            italiano, seccionadoras verticales que
            nos permiten producir en serie de
            forma calificada y escuadradoras de
            banco para cortes con mayor
            precisión.
        </p>
        <p>Tenemos un depósito en la localidad
            de Los Polvorines, que nos permite
            administrar un stock permanente y
            garantizar los pedidos de nuestros
            clientes de forma segura, rápida y
            eficiente.
        </p>
        <p>
            Nuestro staff está compuesto por un
            equipo de diseñadores, dedicados a
            interpretar las necesidades de cada
            cliente para dasarrollar todo tipo de
            muebles a medida, y contamos con
            la presencia de instaladores, capaces
            de solucionar cualquier contingencia
            en obra.
        </p>
        </section>
        <section class="parallax" id="plx-about">
        </section>
        <section>
          <div class="container" id="accordion">
            <div class="card mb-2 wow animate__fadeInUp">
              <div class="card-header bg-primary" id="vision">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <h5 class="mb-0">¿Qué es la luz ultravioleta (UV)?</h5>
                </button>
              </div>
              <div id="collapse1" class="collapse" aria-labelledby="vision" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    La luz ultravioleta (UV) es una forma de luz invisible al ojo humano, ocupando la
                    porción del espectro electromagnético situada entre los rayos X y la luz visible.
                    Hay 3 clasificaciones para la luz ultravioleta, A, B y C:
                    <ul>
                      <li>-UV-A: tiene la longitud de onda mayor (desde 320 nm hasta 400 nm inclusive), y
                        es también donde empieza la luz visible (azulada).</li>
                      <li>UV-B: definida como la radiación comprendida entre los 280 y 320 nm</li>
                      <li>UV-C: es el tipo de radiación ultravioleta que se sitúa en un intervalo de
                        longitudes de onda de 280 a 100 nanómetros. Debido a ello, es una la luz UV de
                        tipo artificial que se utiliza para purificar agua, aire, como así también para
                        inactivar microbios (acción germicida).</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-1s">
              <div class="card-header bg-primary" id="mision">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <h5 class="mb-0">¿Cómo funciona el proceso de desinfección de la luz UV?</h5>
                </button>
              </div>
              <div id="collapse2" class="collapse" aria-labelledby="mision" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    La radiación UV penetra la pared celular de los microorganismos y es absorbida por
                    los materiales celulares, produciendo mutaciones en su ADN que resultan letales en
                    los organismos unicelulares. Se encuentra comprobado que con el uso de la luz UV
                    de tipo C puede desactivar virus, bacterias y hongos haciendo que sus células
                    mueran o sean incapaces de reproducirse.
                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-2s">
              <div class="card-header bg-primary" id="proposito">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  <h5 class="mb-0">¿Qué son los productos de desinfección UV?</h5>
                </button>
              </div>
              <div id="collapse3" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    La desinfección por medio de luz ultravioleta es el proceso de destrucción de
                    organismos por medio de la radiación dada por la UV de tipo C, empleados para el
                    tratamiento de agua, aire y diferentes superficies, pudiendo alcanzar porcentajes de
                    esterilización de hasta el 99,9% en función de la dosis recibida.
                    La generación artificial de la luz UV se logra mediante la utilización de una lámpara
                    de cuarzo que contiene gas de mercurio en su interior. El producto debe contener las
                    lámparas de LED UV ubicadas en la superficie o lugar que se desee desinfectar y
                    ponerlo a funcionar por el tiempo requerido de acuerdo los diferentes niveles de
                    radiación y factores ambientales
                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-3s">
              <div class="card-header bg-primary" id="proposito">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  <h5 class="mb-0">¿Se puede utilizar la Luz UV para uso personal o para esterilizar
                    manos u otras partes del cuerpo?</h5>
                </button>
              </div>
              <div id="collapse4" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    La Organización Mundial de la Salud (OMS) indica que las lámparas ultravioletas no
                    deben usarse para desinfectar las manos u otras áreas de la piel. La luz UV-C en el
                    rango de 260 – 285 nm relevantes para las tecnologías de desinfección es perjudicial
                    para la piel humana, por lo que se debe proporcionar su uso cuando no haya nadie
                    presente al momento de la desinfección. Es importante que al momento de la
                    manipulación y uso del producto tengan la protección necesaria considerando que la
                    radiación UV puede causar irritación en la piel y dañar los ojos.

                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-4s">
              <div class="card-header bg-primary" id="proposito">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  <h5 class="mb-0">¿Cuánto tiempo tiene que permanecer los objetos o los ambientes
                    bajo la luz UV para su correcta sanitización?</h5>
                </button>
              </div>
              <div id="collapse5" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Existen muchos tipos de microorganismos, bacterias y virus que a su vez poseen
                    diferente resistencia a estas radiaciones de luz UV-C. Por este motivo es necesario
                    que cada uno requiera ser expuesto a diferentes niveles de radiación y tiempos de
                    exposición para eliminar la totalidad de su estructura. Se recomienda esterilizar los
                    objetos o ambientes en un radio de 360 grados y entre 10 a 20 minutos sin dejar
                    sombras para que cubra en su totalidad.
                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-5s">
              <div class="card-header bg-primary" id="proposito">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  <h5 class="mb-0">¿Cuál es la duración de las lámparas UV?</h5>
                </button>
              </div>
              <div id="collapse6" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Debemos tener en cuenta que toda lámpara de emisión de luz UV tiene una vida útil
                    efectiva de aproximadamente 9.000 horas. Es importante llevar registro de las horas
                    de uso de la lámpara para reemplazarla oportunamente y garantizar su total
                    efectividad.
                  </p>
                </div>
              </div>
            </div>
            <div class="card my-2 wow animate__fadeInUp animate__delay-5s">
              <div class="card-header bg-primary" id="proposito">
                <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse"
                  data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  <h5 class="mb-0">¿Cuáles son los microoganismos sensibles al uso de la LUZ UV?</h5>
                </button>
              </div>
              <div id="collapse7" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    SARS-CoV-2 - Agrobacterium tumefaciens - Adenovirus Tipo III - Aspergillus
                    Amstelodamy - Aspergillus flavus - Aspergillus glaucus - Aspergillus niger - Bacillus
                    Anthracis - Bacillus Anthracis - Bacillus Megatherium SP - Bacillus Megatherium SP -
                    Bacillus Paratyphosus - Bacillus subtilis - Bacillus subtilis - Bacteriófago -
                    Campylobacter jejuni Chiorella vulgaris - Cianobacteria sp - Clostridium botulinum -
                    Clostridium tetani - Corynebacterium diphtheriae - Coxsackie - Cryptosporidium
                    parvum - Dysentery bacilli - hystolitica Eberthella typhosa - Echovirus I - Echovirus II
                    - Enterococcus faecalis - Escherichia Coli (E. Coli) - Giardia lambli - Huevos de
                    nematodo - Influenza - Legionella bozemanii - Legionella dumofii - Legionella
                    gormanii - Legionella longbeachae - Legionella micdadei - Legionella pneumophila -
                    Leptospira canicola - Leptospira interrogans - Listeria monocytogenes - Micrococcus
                    candidus -Micrococcus sphaeroides - Mosaico del tabaco (TMV) - Mucor Mucedo -
                    Mucor Recemosus (A y B)- Mycobacterium tuberculosis - Neisseria – moraxella
                    catarrhalis - Oospora lactis - Paramecium sp. - Penicillium chrysogenum - Penicillium
                    digitatum - Penicillium expansum - Penicillium roqueforti - Phytomonas tumefaciens -
                    Poliovirus - Proteus vulgaris - Pseudomonas aeruginosa - Pseudomonas fluorescens
                    Rhizopus nigricans - Rhodospirillum rubrum - Rotavirus ( Saccharomyces cerevisiae
                    Saccharomyces ellipsoideus - Saccharomyces sp.- Salmonella enteritidis -
                    Salmonella paratyphi - Salmonella Species- Salmonella typhi Salmonella
                    typhimurium - Sarcina lutea - Serratia marcescens - Shigella dysenteriae - Shigella
                    flexneri - Shigella paradysenteriae - Shigella sonnei -Staphylococcus albus -
                    Staphylococcus aureus - Staphylococcus epidermidis - Streptococcus haemolyticus -
                    Streptococcus lactis - Streptococcus pyrogenes - Streptococcus salivarius -
                    Streptococcus viridans - Trichosporon - Variola Virus (Poxviridae) - Vibrio cholerae -
                    Vibrio comma - Virus de la Hepatitis A (VHA) - Virus de la Hepatitis B (VHB)

                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="container text-center">
          <div class="row justify-content-center">
            <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-1s">
              <a href="#" class="">
                <img class="d-block mx-auto rounded-circle border-success profile-custom"
                  src="../img/about/profile1.jpg" alt="profile img" data-holder-rendered="true">
                <h4 class="mt-3">Torres</h4>
              </a>
            </div>
            <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-2s">
              <a href="#" class="">
                <img class="d-block mx-auto rounded-circle border-success profile-custom"
                  src="../img/about/profile2.jpg" alt="profile img" data-holder-rendered="true">
                <h4 class="mt-3">Armarios</h4>
              </a>
            </div>
            <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-3s">
              <a href="#" class="">
                <img class="d-block mx-auto rounded-circle border-success profile-custom"
                  src="../img/about/profile3.jpg" alt="profile img">
                <h4 class="mt-3">Gabinetes</h4>
              </a>
            </div>
            <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-4s">
              <a href="#" class="">
                <img class="d-block mx-auto rounded-circle border-success profile-custom"
                  src="../img/about/profile4.jpg" alt="profile img">
                <h4 class="mt-3">sanitización UV</h4>
              </a>
            </div>
            <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-5s">
              <a href="#" class="">
                <img class="d-block mx-auto rounded-circle border-success profile-custom"
                  src="../img/about/profile5.jpg" alt="profile img">
                <h4 class="mt-3">Muebles</h4>
              </a>
            </div>
          </div>
        </section>
        <section>
          <div class="container wow animate__fadeInLeft animate__delay-1s fast">
            <h3 class="title">Nuestros Servicios</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-1s">
                <h3>Experiencia</h3>
                <p class="pl-3">
                  Contamos con equipo altamente calificado que sabrá asesorarte a la hora de tu compra, aconsejando de
                  acuerdo a tus requerimientos y necesidades.
                </p>
              </li>
              <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-2s">
                <h3>Calidad</h3>
                <p class="pl-3">
                  Trabajamos y distribuimos varias marcas de repuestos y accesorios entre ellas, marcas de primera a
                  nivel mundial lo que te garantiza una calidad insuperable.
                </p>
              </li>
              <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-3s">
                <h3>Confianza</h3>
                <p class="pl-3">
                  Con más de 30 años en el rubro, somos una empresa seria y confiable brindando un servicio de venta y
                  post-venta inigualable.
                </p>
              </li>
              <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-4s">
                <h3>Asesoramiento</h3>
                <p class="pl-3">
                  Trato cordial y personalizado, asesorándolos en todo momento sobre el camino correcto a seguir.
                </p>
              </li>
            </ul>
          </div>
        </section>
        {{>footer}}