<div class="container-fluid">
    <h1>Agregar nuevo Producto</h1>

    <form  action="/nuevoProd" method="POST" onsubmit="alert('producto Cargado')" >
        <div class="form-group">
            <label> Titulo </label> <br>
            <input class="form-control" name="Title" type="text"><br>
        </div>
        <div class="form-group">
            <label> Decripcion </label> <br>
            <input class="form-control" name="Description" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Resumen </label> <br>
            <input class="form-control" name="Resumen" type="text"> <br>
        </div>

        <div class="form-group">
            <label> Especificacion A </label> <br>
            <input class="form-control" name="SpecA" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Especificacion B </label> <br>
            <input class="form-control" name="SpecB" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Especificacion C </label> <br>
            <input class="form-control" name="SpecC" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Especificacion D </label> <br>
            <input class="form-control" name="SpecD" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Especificacion E </label> <br>
            <input class="form-control" name="SpecE" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Link a Youtube o Externo </label> <br>
            <input class="form-control" name="Link URL" type="text"> <br>
        </div>
        <div class="form-group">
            <label> Sub Categoria del Producto </label> <br>
            <input class="form-control" name="SubCategoriaName" type="text"> <br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>