        <section class="max-vh-100 w-100 h-100">
          <div id="categorias" class="row w-100 h-100 m-0"></div>
        </section>
  <!-- Script associated -->
  <script defer src="/js/categories.js"></script>