<div id="carousel-edit" class="carousel-edit"></div>
<section class="carousel wow animate__fadeIn animate__slow" id="carousel-landing" ></section>

<section class="container my-5">
    <div class="row">
        <div class="col-md-7 wow animate__fadeInLeft animate__delay-2s">
            <h5 class="subtitle">Bienvenidos</h5>
            <h3 class="title">¿QUIENES SOMOS?</h3>
            <p>Somos una empresa familiar con más
                de 30 años de experiencia
                desarrollando soluciones modulares
                para oficinas, comercios y hogares.
                Nuestra fábrica se encuentra situada
                en la localidad de Tortuguitas,
                partido de Malvinas Argentinas, en un
                predio de 300 Mt2 cubiertos.
            </p>
            <p>
                Trabajamos con máquinas y
                herramientas de última generación:
                pegadoras, de cantos de origen
                italiano, seccionadoras verticales que
                nos permiten producir en serie de
                forma calificada y escuadradoras de
                banco para cortes con mayor
                precisión.
            </p>
            <p>Tenemos un depósito en la localidad
                de Los Polvorines, que nos permite
                administrar un stock permanente y
                garantizar los pedidos de nuestros
                clientes de forma segura, rápida y
                eficiente.
            </p>
            <p>
                Nuestro staff está compuesto por un
                equipo de diseñadores, dedicados a
                interpretar las necesidades de cada
                cliente para dasarrollar todo tipo de
                muebles a medida, y contamos con
                la presencia de instaladores, capaces
                de solucionar cualquier contingencia
                en obra.
            </p>
        </div>
        <div class="col-md-5 pl-4 wow animate__fadeIn animate__delay-5s animate__slow">
            <img class="img-fluid img-side" src="/img/home/right.jpg" alt="imagen empresa derecha" />
        </div>
    </div>
</section>
<section class="parallax" id="plx1">
    <div class="d-flex h-100 text-white flex-column justify-content-center">
        <img class="align-self-center img-fluid mini-logo" src="/img/home/logo.png" alt="">
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-5 pr-4 wow animate__fadeIn animate__delay-3s animate__slow">
            <img class="img-fluid img-side w-100" id="img-left" src="/img/home/left.jpg" alt="imagen empresa derecha" />
        </div>
        <div class="col-sm-12 col-md-7 wow animate__fadeInRight animate__delay-1s">
            <h5 class="subtitle">Que hacemos?</h5>
            <h3 class="title">Nuestros Servicios</h3>
            <div class="row my-4 wow animate__fadeInRight animate__delay-2s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-ruler-combined fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Fabricación de muebles a medida</h4>
                        <p class="font-weight-light">lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-2s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-clipboard-list fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Cotizaciones personalizadas</h4>
                        <p class="font-weight-light">lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-3s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-briefcase fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Asesoramiento a empresas</h4>
                        <p class="font-weight-light">lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-4s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fa fa-wrench fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Taller y repuestos</h4>
                        <p class="font-weight-light">Reparaciones y accesorios</p>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-5s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fa fa-shield-virus fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Productos sanitización UV</h4>
                        <p class="font-weight-light">lorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-4s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-truck-loading fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Fletes </h4>
                        <p class="font-weight-light">entrega e instalación propia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="parallax" id="plx2">
                    <div
                        class="d-flex h-100 text-white justify-content-center wow animate__fadeInTopRight animate__slower animate__delay-5s">
                        <img class="align-self-center img-fluid mini-logo" src="/img/home/logo.png" alt="">
                    </div>
                </section> -->
<section id="testimonios">
    <div>
        <blockquote class="quote-card">
            <p>El trabajo quedó excelente, es todo lo que esperabamos</p>
            <cite> Julieta Venegas </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card yellow-card">
            <p>
                Fernando fue muy atento y logró llevar nuestra idea a la realidad. Estamos muy contentos
            </p>
            <cite> Maximo Cozzetti </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card blue-card">
            <p>
                Todos los productos que pedimos llegaron siempre en tiempo y forma, un placer trabajar asi! Gracias!
            </p>
            <cite> Volkswagen Argentina </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card red-card">
            <p>
                Productos de primer nivel con muy buen servicio de post-venta.
            </p>
            <cite> Jose Lopez </cite>
        </blockquote>
    </div>
</section>
{{>footer}}

<!-- Custom Scripts -->
<script src="/js/index.js"></script>