<section class="container my-5 flex-grow-1 wow animate__fadeIn animate__slow">
  <h3 class="title">{{producto}}</h3>
  <div id="items-categoria" class="row mt-5 justify-content-center">
    <h1>this is a product: {{producto}} </h1>
  </div>
</section>

{{>footer}}